<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nodejs tuts</title>
</head>
<body>
    <%- include('partials/nav.ejs'); %>
     <h1>welcome to contact page !!</h1>
     <p>stay connected!! good luck :)
         
     </p>
</body>
</html>