<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sucess!!!</title>
</head>
<body>
    <%- include('partials/nav.ejs'); %>
     <h1>welcome to contact page !!</h1>
     <p>stay connected!! good luck :)</p>
     <p>success!!</p>
     <p>You contacted  <%= data.who %> in the department  <%= data.department %> department   </p>
     <p> we will reply to you at <%= data.email %></p> shortly!

</body>
</html> 